/* ----------------------------- */
/* Card */
.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: transparent;
  margin-bottom: 5%;
}
.addPhotoBtn {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.deleteImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
