.edittext-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.edittext-top {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edittext-bottom {
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-done {
  width: 35%;
  height: 9vh;
  background-color: #b12d30;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.text-input {
  position: absolute;
  text-align: center;
  background: transparent;
  width: 80vw;
  height: 15vh;
  font-size: 25px;
}
.text-input:focus {
  outline: none;
}
