@font-face {
  font-family: "Galada-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Galada-Regular"), local("Galada-Regular"),
    url("./../fonts/Galada-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* Home */
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.outer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.inner {
  position: relative;
  background-color: white;
}
.bottomBtn {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toUpload {
  width: 35%;
  height: 9vh;
  background-color: #b12d30;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.card-outer {
  position: absolute;
  background-color: transparent;
  margin-bottom: 5%;
}
.editText-btn {
  position: absolute;
  text-decoration: none;
  text-align: center;
}
/* Photo Selector */
.photoselector-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7;
}
.photoselector-outer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 2vw;
  width: 96vw;
  height: 20vh;
  z-index: 8;
  background-color: white;
  overflow: hidden;
}
