.selector-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
.selector-inner {
  margin: 1vh 1vw;
  height: 90%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}
.selector-inner img {
  height: 90%;
}
