/* Frame List */
.container {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.title {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #b12d30;
}
.frame-outer {
  width: 90%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame-inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: inline-block;
  text-align: center;
}

/* Frame Component */
.frame-border {
  border: 3px solid grey;
  display: inline-block;
  width: 40%;
  margin: 2.5%;
}
.new-frame-border {
  border: 3px solid #b12d30;
  display: inline-block;
  width: 40%;
  margin: 2.5%;
}
.frame-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FrameImg {
  width: 100%;
}
